/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

#Vue

# Logs
vue/logs
vue/*.log
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/pnpm-debug.log*
vue/lerna-debug.log*

vue/node_modules
vue/dist
vue/dist-ssr
vue/*.local
